:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

/* font polishing */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLOUR */
  /* color-scheme: light dark; */

  /* colour scheme */
  --white: #ffffff; 
  --white-trans: #ffffffad;
  --light-background: #f5f0f0;
  --light-background-trans: #f5f0f0f4;
  --dark-grey-trans:#333333e8;
  --dark-grey: #333333;   
  --light-grey: #D0D7DE;   
  --main-pink: #E46054;
  --dark-pink: #5D0000;
  --light-pink: #F4AAA1;

  /* test colours */
  /* --back: #f5f0f0; */
}

/* Dark theme modifications */
.dark-theme {
  background-color: var(--dark-grey); 
  color: var(--white); 
}

/* Default light theme colors using variables */
body {
  background-color: var(--light-background);
}

h1 {
  margin: 0.2em;
  font-family: "Dancing Script";
  font-size: 3.8em;
  font-weight: bolder;

}

h2 {
  font-size: 3em;
}

h3 {
  margin: 1em;
  margin-top: 0;
  font-size: 1.5em;
}


h4 {
 font-size: 1em;
}

@media (prefers-color-scheme: dark) {
  .dark-theme h1 {
    color: var(--light-pink);  
  }
}


header {
  padding: 4em;
  padding-bottom: 2.5em;
}

p {
  padding: 0;
  margin: 0;
}

section {
  padding: 2.5em;
}

button {
  margin: 2em;
  background-color: var(--light-background) !important;
  border: solid 1px var(--main-pink) !important;
  color: var(--dark-grey) !important;
  transition: background-color 0.3s ease-in-out, 
  transform 0.3s ease-in-out !important; 
}

@media (prefers-color-scheme: dark) {
  .dark-theme button {
    background-color: var(--dark-grey-trans) !important;  
    color: var(--white) !important;
  }
}

button:hover {
  background-color: var(--main-pink) !important;
  color: var(--white) !important;
}

hr {
  width: 80%;
  margin: 20px auto ;
  
}

/* HOME PAGE */
.home-header {
  background-image: url(../public/assets/images/colour-splash.jpg);
}


.header-contents {
  padding: 1em;
  background-color: var(--light-background-trans);
  border-radius: 2em;
}

@media (prefers-color-scheme: dark) {
  .dark-theme .header-contents {
    background-color: var(--dark-grey-trans);  
    color: var(--white);  
  }
}

.header-h3 {
  margin: 0.2em;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

/* .header-img {
  width: 40%;
} */

.goals {
  display: flex;
}

.goal {
  padding: 0 2em;
}

.goal-icon {
  margin: 0.2em;
}

/* ABOUT PAGE */
.about-us-para {
  padding: 0 4em;
text-align: center;
}

.about-img {
width: 30%;
margin: 2em;
}


/* GROUPS PAGE */
.groups-page {
  display: flex;
}

/* share something section */
.share-something {
  padding: 1em;
  border: solid 1px var(--light-grey);
  border-radius: 0.5em;
}

@media (prefers-color-scheme: dark) {
  .dark-theme .form-control {
    background-color: var(--white-trans) !important;  

  }
}

.post-btn {
  margin: 0;
}

.share-options {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.share-options a {

  margin-right: 2em;
}

/* feed section */

.feed-section {
  padding-top: 0.5em;
}  

.feed {
  margin: 1em 0;
  border: solid 1px var(--light-grey);
  border-radius: 0.5em;
}
.feed-header {
  margin: 1em 0;
}

.initials {
  width: 1.5em;
  height: 1.5em;
  border-radius:  50%;
  background-color: pink;
  font-size: 2em;
}

.feed-info {
  text-align: left;
}

.feed-message {
  margin: 0 1em;
  margin-bottom: 0.5em;
  text-align: left;
}

.react-icons {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-around;
}

.comment-input {
  padding: 0 1em;
  margin-top: 1em;
}


/* my groups section */
.search-group {
  padding: 0.3em 0;
  display: flex;
}

.search-group-outline {
  padding: 0 0.5em;
  margin-bottom: 1.5em;
  border: solid 1px var(--light-grey);
  border-radius: 0.5em;
}

.group-search-btn {
  margin: 0 1em;
  border: transparent !important;
}

.group-search-btn:hover {
  background-color: transparent !important;
}

.group-search-input {
  border: transparent !important;
}

.my-groups {
  padding: 0.5em;
  border: solid 1px var(--light-grey);
  border-radius: 0.5em;
}

.my-groups-h3 {
  text-align: left;
}

.my-group {
  padding: 0.3em;
}

.groups-img {
  margin: 0;
  width: 100%;
  object-fit: cover;
}

.group-info {
  margin: 0;
  padding: 0;
  text-align: left;
}

/* RESPONSIVENESS */

/* small screens */
@media (max-width: 600px) {
  
  header {
    padding: 2em;
  }

  section {
    padding: 0.5em;
  }
  
  /* home page */
  .home-header {
    padding: 2em;
  }

  .goals {
    display: flex;
    flex-direction: column;
  }

  .goal {
    margin: 1em 0;
  }
  
  /* about page */
  .about-us-para {
    padding: 0 2em;
  }
  .about-img {
    width: 75%;
  }

  /* groups page */

  .feed {
    padding: 0.1em;
  }
  .feed-header {
    display: flex;
    flex-direction: column;
  }


}

/* medium screens */
@media (min-width: 900px) {
  .container {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}