:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

/* font polishing */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* COLOUR */
  /* color-scheme: light dark; */

  /* colour scheme */
  --white: #ffffff; 
  --light-background: #f5f0f0;
  --dark-grey: #333333;   
  --light-grey: #D0D7DE;   
  --main-pink: #E46054;
  --dark-pink: #5D0000;
  --light-pink: #F4AAA1;

  /* test colours */
  /* --back: #f5f0f0; */
}

/* Dark theme modifications */
.dark-theme {
  background-color: var(--dark-grey); 
  color: var(--white); 
}

/* Default light theme colors using variables */
body {
  background-color: var(--light-background);
}

h1 {
margin: 0.2em;
  font-family: "Dancing Script";
font-size: 4em;

}

h2 {
  font-size: 3em;
}

h3 {
  margin: 1em;
  margin-top: 0;
  font-size: 1.5em;
}


h4 {
 font-size: 1em;
}


header {
  padding: 4em;
  padding-bottom: 2.5em;
  background-image: url(/src//assets/images/colour-splash.jpg);
}

p {
  padding: 0;
  margin: 0;
}

section {
  padding: 2.5em;
}

button {
  margin: 2em;
  background-color: var(--light-background) !important;
  border: solid 1px var(--main-pink) !important;
  color: var(--dark-grey) !important;
  transition: background-color 0.3s ease-in-out, 
  transform 0.3s ease-in-out !important; 

}

button:hover {
  background-color: var(--main-pink) !important;
  color: var(--white) !important;
}

hr {
  width: 80%;
  margin: 20px auto ;
  
}

/* HOME PAGE */
.header-h3 {
  margin: 0.2em;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.goals {
  display: flex;
}

.goal {
  padding: 0 2em;
}

.goal-icon {
  margin: 0.2em;
}

/* GROUPS PAGE */


.groups-page {
  display: flex;
}

/* share something section */
.share-something {
  padding: 1em;
  border: solid 1px var(--light-grey);
  border-radius: 0.5em;
}

.post-btn {
  margin: 0;
}

.share-options {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.share-options a {

  margin-right: 2em;
}

/* feed section */

.feed-section {
  padding-top: 0.5em;
}  

.feed {
  margin: 1em 0;
  border: solid 1px var(--light-grey);
  border-radius: 0.5em;
}
.feed-header {
  margin: 1em 0;
}

.initials {
  width: 1.5em;
  height: 1.5em;
  border-radius:  50%;
  background-color: pink;
  font-size: 2em;
}

.feed-info {
  text-align: left;
}

.feed-message {
  margin-bottom: 1em;
  text-align: left;
}

.react-icons {
  margin: 0.5em 0;
  display: flex;
  justify-content: space-around;
}

.comment-input {
  margin-top: 1em;
}


/* my groups section */
.search-group {
  padding: 0.3em 0;
  display: flex;
}


.search-group-outline {
  padding: 0 0.5em;
  margin-bottom: 1.5em;
  border: solid 1px var(--light-grey);
  border-radius: 0.5em;
}

.group-search-btn {
  margin: 0 1em;
  border: transparent !important;
}

.group-search-input {
  border: transparent !important;
}

.my-groups {
  padding: 0.5em;
  border: solid 1px var(--light-grey);
  border-radius: 0.5em;
}

.my-group {
  padding: 0.3em;
}

.groups-img {
  margin: 0 0.5em;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.group-info {
  text-align: left;
}

